<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ledgr.name}}">
  <ion-content class="padding">
    <div ng-hide="edit">
      <img ng-src="{{ledgr.pic}}" class="banner-image"></img>

      <h1>
        {{ledgr.name}}
        <a class="button button-icon icon ion-settings" ng-click="toggleEdit()"></a>
      </h1>

      <h4>{{ledgr.brief}}</h4>
    </div>

    <div class="padding" ng-show="edit">
      <form ng-submit="save().then(toggleEdit)" ng-show="edit">
        <input type="text" ng-model="ledgr.name" placeholder="Ledgr name">
        <input type="text" ng-model="ledgr.brief" placeholder="A brief summary of the Ledgr">
        <input type="url" ng-model="ledgr.pic" placeholder="Link to a picture">
        <input type="submit" class="button button-icon icon ion-settings">
      </form>
    </div>

  </ion-content>
</ion-view>
