<ion-view view-title="Friends">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in user.friends"
                type="item-text-wrap"><!--href="#/friends/{{friend.$id}}"-->
        <img ng-src="{{friend.pic}}">

        <h2>{{friend.name}}</h2>

        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <ion-option-button class="button-assertive" ng-click="removeFriend(friend.id)">
          Unfriend
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="list card">
      <div class="item item-divider item-dark">Add Friend</div>
      <div class="item item-body">
        <form ng-submit="searchUsers(searchName)" class="item item-input-inset">
          <input type="text" autofocus ng-model="searchName" class="item-input-wrapper"
                 placeholder="Friend's name">
          <input type="submit" class="button button-small button-dark">
        </form>

        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in searchResults"
                    type="item-text-wrap" ng-click="addFriend(person.id, person)" ng-hide="person.id === user.$id">
            <img ng-src="{{person.pic}}">

            <h2>{{person.name}}</h2>

            <i class="icon ion-plus"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
