<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">New Ledgr Entry</h1>
  </ion-header-bar>
  <ion-content>
    <form class="list" ng-submit="addEntry(entry).then(closeModal)">
      <label class="item item-input">
        <input required autofocus type="number" min="0" step="any" ng-model="entry.price"
               placeholder="Amount (e.g. $1.23)">
      </label>
      <label class="item item-input">
        <input required type="datetime-local" ng-model="entry.time" placeholder="Date of purchase">
      </label>
      <label class="item item-input">
        <input required type="text" ng-model="entry.description" placeholder="Description">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Paid by
        </div>
        <select ng-model="entry.paidBy">
          <option required ng-repeat="user in ledgr.users" value="{{user}}">{{user.name}}</option>
        </select>
      </label>

      <ion-list>
        <ion-checkbox ng-model="entry.beneficiaries[user.id]"
                      ng-repeat="user in ledgr.users"
                      ng-hide="user.id === entry.paidBy.id">
          {{user.name}}
        </ion-checkbox>
      </ion-list>
      <label class="item item-input">
        <input type="checkbox" placeholder="{{user.name}}"
               ng-repeat="user in ledgr.users" ng-hide="user.id === entryPaidBy">
      </label>

      <input type="submit" class="button button-block button-positive" value="Add Entry">
    </form>
  </ion-content>
</ion-modal-view>
