<ion-view view-title="{{ledgr.name}}">
  <div class="bar bar-subheader bar-dark">
    <h2 class="title">
      Total: ${{ledgr.total || 0}};
      You Owe: ${{ledgr.debts[appCtrl.user.$id] || 0}}
    </h2>
  </div>

  <ion-content>
    <br><br>

    <div class="padding">

      <ion-list>
        <ion-item class="item-remove-animate item-avatar" ng-repeat="entry in ledgr.entries"
                  type="item-text-wrap"><!--href="#/friends/{{friend.$id}}"-->
          <img ng-src="{{entry.paidBy.pic}}">

          <h2>${{entry.price}} &nbsp;&nbsp; {{entry.description}}</h2>

          <p>{{entry.beneficiaries.length}} beneficiaries</p>

          <ion-option-button class="button-assertive" ng-click="removeEntry($index)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>

    </div>

    <a class="bar bar-footer bar-dark" ng-click="openModal()">
      <div class="title">New Ledgr Entry</div>
    </a>

  </ion-content>

</ion-view>
