<ion-view view-title="{{ledgr.name}}">
  <div class="bar bar-subheader bar-stable">
    <h2 class="title">
      Total: {{ledgr.total | currency}};
      You Owe: <span class="debt" ng-class="{'in-debt': ledgr.debts[appCtrl.user.$id]>0}">{{ledgr.debts[appCtrl.user.$id] |
      currency}}</span>
    </h2>
  </div>

  <ion-content>
    <br><br>

    <div class="padding">

      <ion-list>
        <button class="button button-block button-dark" ng-click="openModal()">New Ledgr Entry</button>
        <ion-item class="item-remove-animate item-avatar" ng-repeat="entry in ledgr.entries"
                  type="item-text-wrap" ng-click="editEntry(entry)">
          <img ng-src="{{entry.paidBy.pic}}">

          <h2>${{entry.price}} &nbsp;&nbsp; {{entry.description}}</h2>

          <p><span ng-repeat="user in entry.beneficiaries">{{user.name.split(' ')[0]}}&nbsp; </span></p>

          <div class="item-note">{{entry.time | date:'M/d h:mm a'}}</div>

          <ion-option-button class="button-assertive" ng-click="removeEntry($index)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

</ion-view>
