<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in ldgrCtrl.ledgr.users"
                type="item-text-wrap"><!--href="#/users/{{user.$id}}"-->
        <img ng-src="{{user.pic}}">

        <h2>{{user.name}}</h2>

        <p>Debt: ${{ldgrCtrl.ledgr.debts[user.id]}}</p>

        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <ion-option-button class="button-assertive" ng-click="removeParticipant(user.id)"
                           ng-if="user.id !== appCtrl.user.$id">
          Remove from Ledgr
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="list card">
      <div class="item item-divider item-dark">Add Participant</div>
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in candidates"
                    type="item-text-wrap" ng-click="addParticipant(person.id, person)">
            <img ng-src="{{person.pic}}">

            <h2>{{person.name}}</h2>

            <i class="icon ion-plus"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
